<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng ký</title>
  <!-- link -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <script src="https://kit.fontawesome.com/29b41ee1c8.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app="myApp" class="bg-secondary" style="background-image: url(img/2123.jpg); background-size: 100%;">
  <div class="container-fluid" ng-controller="myController" style="margin-top: 3%;">
    <div class="row">
      <div class="col-sm-4 position-absolute offset-4 rounded-3 bg-white pb-5 px-4">
        <div class="position-relative"><a href="login.html"><i
              class="far fa-arrow-alt-circle-left text-secondary fs-3 mt-3"></i></a></div>
        <div class="row">
          <div class="text-center mt-1 mb-3">
            <img src="img/logo/72287 IT Services Website Icons AW-2.png" class="w-25 mb-2" alt="">
            <h5 class="mb-3 text-secondary">Đăng ký</h5>
          </div>
          <form name="formRegister">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
              <input type="email" class="form-control" name="txtEmail" ng-model="sv.email" placeholder="Email"
                aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div ng-hide="formRegister.txtEmail.$valid || formRegister.txtEmail.$untouched">
              <small class="form-text text-danger" ng-show="formRegister.txtEmail.$error.required">Vui lòng nhập
                email!</small>
              <small class="form-text text-danger" ng-show="formRegister.txtEmail.$error.email">Sai định dạng
                email!</small>
            </div>
            <div class="input-group mt-2">
              <span class="input-group-text" id="basic-addon2"><i class="bi bi-lock"></i></span>
              <input type="password" minlength="6" class="form-control" name="txtPass1" ng-model="sv.pass1"
                placeholder="Mật khẩu" aria-label="Password" aria-describedby="basic-addon2" required>
            </div>
            <div ng-hide="formRegister.txtPass1.$valid || formRegister.txtPass1.$untouched">
              <small class="form-text text-danger" ng-show="formRegister.txtPass1.$error.required">Vui lòng nhập
                mật khẩu!</small>
              <small class="form-text text-danger" ng-show="formRegister.txtPass1.$error.minlength">Mật khẩu có 6 -
                32 ký tự!</small>
            </div>
            <div class="input-group mt-2">
              <span class="input-group-text" id="basic-addon3"><i class="bi bi-lock"></i></span>
              <input type="password" minlength="6" class="form-control" name="txtPass2" ng-model="sv.pass"
                placeholder="Mật khẩu xác nhận" aria-label="Password" aria-describedby="basic-addon3" required>
            </div>
            <div ng-hide="formRegister.txtPass2.$valid || formRegister.txtPass2.$untouched">
              <small class="form-text text-danger" ng-show="formRegister.txtPass2.$error.required">Vui lòng nhập
                mật khẩu!</small>
              <small class="form-text text-danger" ng-show="formRegister.txtPass2.$error.minlength">Mật khẩu có 6 -
                32 ký tự!</small>
            </div>
            <div class="input-group mt-2">
              <span class="input-group-text" id="basic-addon3"><i class="bi bi-person"></i></span>
              <input type="text" name="txName" ng-model="sv.fullname" class="form-control" placeholder="Họ và tên"
                aria-label="Password" aria-describedby="basic-addon3" required>
            </div>
            <div ng-hide="formRegister.txName.$valid || formRegister.txName.$untouched">
              <small class="form-text text-danger" ng-show="formRegister.txName.$error.required">Vui lòng nhập
                họ tên!</small>
            </div>
            <div class="mt-2 row" >
              <div class="col-10 row" >
                  <div class="col-3">
                      <input id="gNam" type="radio" name="gender" ng-checked="sv.gender==1" ng-model="sv.gender" value="1" class="form-check-input"/>
                      <label for="gNam">Nam</label>
                  </div>
                  <div class="col-3">
                      <input id="gNu" type="radio" name="gender" ng-model="sv.gender" value="0" class="form-check-input" />
                      <label for="gNu">Nữ</label>
                  </div>
              </div>
          </div>

            <div class="input-group mt-2">
              <span class="input-group-text" id="basic-addon3"><i class="bi bi-geo-alt"></i></span>
              <input type="text" class="form-control" name="txtAddress" ng-model="sv.address" placeholder="Địa chỉ"
                aria-label="Password" aria-describedby="basic-addon3" required>
            </div>
            <div ng-hide="formRegister.txtAddress.$valid || formRegister.txtAddress.$untouched">
              <small class="form-text text-danger" ng-show="formRegister.txtAddress.$error.required">Vui lòng nhập
                địa chỉ!</small>
            </div>
            <hr>
            <button type="submit" ng-click="onRegister()" class="btn btn-primary text-light">Đăng Ký</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- script -->
  <script>
    const app = angular.module("myApp", []);
    app.controller("myController", function ($scope, $http) {
    const api = "http://localhost:3000/sv"
    $scope.sv= {
      gender: 1,
      isAdmin: "User",
    }
    
    $scope.onRegister = function () {
      if ($scope.sv.pass != $scope.sv.pass1) {
        
      }
      if($scope.sv.gender == 1) {
        $scope.sv.gender = "Nam";
      } else {
        $scope.sv.gender = "Nữ";
      }
      $http.post(api, $scope.sv) 
        .then(function(reponse) {
          console.log(Response.data)
        }) 
    }
    })
  </script>
  <script src="js/popper.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>